<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TaskBoard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
    
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/interact")
    <script type="text/javascript" src="~/Scripts/Master/Master.js"></script>

    <style>
        .dropdown{
            text-align:right;
        }
    </style>

</head>
<body>
    <!-- Menu lateral -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                    <li class="active"></li>
                    <li>@Html.ActionLink("Projetos", "Index", "Projeto")</li>
                    <li>@Html.ActionLink("Tarefa", "Index", "Tarefa")</li>
                    <li>@Html.ActionLink("Sprint", "Index", "Sprint")</li>
                    <li>@Html.ActionLink("Status", "Index", "Status")</li>
                    <li>@Html.ActionLink("Tipo", "Index", "Tipo")</li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End - Menu lateral -->

    <div id="principal">
        @RenderSection("featured", required: false)
        @*<section class="container content-wrapper main-content clear-fix">*@

        @RenderBody()

        @*</section>*@
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Kanban Project Controller</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
