<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - TaskBoard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    
    @Styles.Render("~/Content/css")
    
    @Styles.Render("~/Content/bootstrap")
    
    @Scripts.Render("~/bundles/jqueryval")

    @Scripts.Render("~/bundles/modernizr")
    
    @Scripts.Render("~/bundles/interact")

    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <style>
        .dropdown {
            text-align: right;
        }
    </style>

</head>
<body>
    
    <!-- Menu lateral -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            @if (HttpContext.Current.User.Identity.IsAuthenticated)
            {
                <div class="dropdown">
                    @if (Request.Url.AbsoluteUri == "http://localhost:49829/")
                    {
                        <div class="col-sm-4">
                            Projeto: @Html.DropDownList("Projetos", Kanban.Models.ProjetoModel.GetProjetoListItem(), new { @class = "form-control" })
                        </div>
                        <div class="col-sm-4">
                            sprint: @Html.DropDownList("Sprints", Kanban.Models.SprintModel.GetSprints(), new { @class = "form-control"})
                        </div>
                    }

                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="dropdownMenu1">
                        <li class="active"></li>
                        <li>@Html.ActionLink("Projetos", "Index", "Projeto")</li>
                        <li>@Html.ActionLink("Tarefa", "Index", "Tarefa")</li>
                        <li>@Html.ActionLink("Sprint", "Index", "Sprint")</li>
                        <li>@Html.ActionLink("Status", "Index", "Status")</li>
                        <li>@Html.ActionLink("Tipo", "Index", "Tipo")</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Usuario", null, new { @class = "btn btn-danger" })</li>
                    </ul>
                </div>
            }
        </div>
    </nav>
    <!-- End - Menu lateral -->

    <div id="principal">
        @RenderSection("featured", required: false)
        @RenderBody()
    </div>

    @Html.Partial("ModalFull")

    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - TaskBoard - Gestão Inteligente</p>
            </div>
        </div>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
