<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - TaskBoard</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap")
    <link href="~/Content/font-awesome.css" rel="stylesheet">
    
    <link href="~/Content/bootstrap.css" rel="stylesheet">
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/interact")
    <script type="text/javascript" src="~/Scripts/Master/Master.js"></script>
</head>
<body>
    <!-- Menu lateral -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle">
        <i class="fa fa-reorder"></i>
    </a>

    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
            <li class="active"></li>
            <li>@Html.ActionLink("Projetos", "Index", "Projeto")</li>
            <li>@Html.ActionLink("Tarefa", "Index", "Tarefa")</li>
            <li>@Html.ActionLink("Sprint", "Index", "Sprint")</li>
            <li>@Html.ActionLink("Status", "Index", "Status")</li>
            <li>@Html.ActionLink("Tipo", "Index", "Tipo")</li>
        </ul>

    </div>
    <!-- End - Menu lateral -->

    <div id="principal">
        @RenderSection("featured", required: false)
            @RenderBody()
    </div>
    <footer>
        <div class="content-wrapper">
            <div class="float-left">
                <p>&copy; @DateTime.Now.Year - Kanban Project Controller</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
